@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Responsive mixins

/*
0-600px : phone

600-900px : tablet

900-1200px : tablet landscape

1800 + px :  big screen
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }
        ; //600px  //1em = 16px
    }
    @if $breakpoint==tab-portable {
        @media (max-width: 56.25em) {
            @content
        }
        ; //900px
    }
    @if $breakpoint==tab-landscape {
        @media (max-width: 75em) {
            @content
        }
        ; //1200 px
    }
    @if $breakpoint==big-desktop {
        @media (max-width: 112.5em) {
            @content
        }
        ; //1800px
    }
}